.scanner{
    width: 200px;
    padding: 20px;
    height: 200px;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    background-color: black;
}
.resaulyyy{
}
.resaulyyy{
    height: 200px;
    width: 300px;
    background-color: #fff;
    margin-top: -240px;
    margin-left: 300px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    padding: 20px;
    


}

.uegdde{
    font-size: 16pt;
    text-align: left;
    font-weight: 500;
    margin:20px;
}
.jojkojo{

}
.jkjkkn{
    justify-content: space-between;
}