.loginformcontainer{
    align-items: center;
    
    margin-top: 100px;
    
}

.inpouuxux{
    width: 150px;
    height: 35px;
    font-size: 15pt;
    padding-left: 20pt;
    border-radius: 10px;
}