.welcome{
    text-align: justify;
    font-size: 20pt;
    margin-left: 20px;
    font-weight: 700;
}
.doctorefname{
    text-align: justify;
    font-size: 40pt;
    margin-left: 20px;
    font-weight: 700;
}
.doctorelname{
    text-align: justify;
    font-size: 20pt;
    margin-left: 20px;
    font-weight: 700;
}