
.optionbox{
    justify-content: center;
    padding: 20px 200px 20px 200px;
   
}
.loginoptionbox{
    margin-top: 70px;
    width: 70%;
    height: 500px;
    background-color: #fff;
    border-radius: 30px;
    border-width: 8px;
    border-color: #0076FE;
    border-style: solid;
}

.withoutloginoption{
    margin-top: 100px;
    width: 50%;
    height: 400px;
    background-color: black;
    border-radius: 30px;

}

.withloginbtn{
   
    border-radius: 10px;
    margin: 20px;
    width: 50%;
    height: 40px;
    background-color: #0076FE;
    color: #fff;
    font-weight: 600;
    font-size: 13pt;
    text-align: center;
    padding-top: 6px;

}

.withloginbtntitile{
    color: #fff;
}